<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<main layout:fragment="content">
    Stadion Narodowy im. Kazimierza Górskiego w Warszawie (do października 2021 r. Stadion Narodowy w Warszawie), od
    lipca 2015 r. także pod nazwą sponsorską PGE Narodowy – wielofunkcyjny stadion w Warszawie, wybudowany w latach
    2008–2011, przed piłkarskimi Mistrzostwami Europy 2012, w miejscu Stadionu Dziesięciolecia. Oficjalnie otwarty 29
    stycznia 2012. Posiada 4. (najwyższą) kategorię w klasyfikacji UEFA.
    Na dwukondygnacyjnych trybunach znajduje się 58 580 miejsc siedzących, w tym 4600 miejsc o podwyższonym standardzie
    oraz 69 lóż (dla 800 osób).
    Obiekt został zaprojektowany przez konsorcjum dwóch biur architektonicznych: JSK Architekci Sp. z o.o. z Warszawy,
    jako lidera konsorcjum (zespół pod kierownictwem Zbigniewa Pszczulnego i Mariusza Rutza) oraz hamburskiego Gerkan,
    Marg und Partner International GmbH (zespół pod kierownictwem Huberta Nienhoffa i Markusa Pfisterera), we współpracy
    ze Schlaich Bergermann & Partner GmbH, odpowiedzialnym za wykonawstwo inżynieryjne.
    Od 1 stycznia 2013 za przygotowanie instrumentów zarządzania kompleksem sportowo-biznesowym, za zarządzanie obiektem
    i zabudową terenów przyległych do niego, zapewnienie przychodów umożliwiających pokrycie kosztów, promowanie marki
    Stadion Narodowy, komercjalizowanie praw marketingowych oraz reklamowych, odpowiada oficjalny operator stadionu,
    spółka Skarbu Państwa PL.2012+, utworzona przez Ministra Sportu i Turystyki.
    </br></br>
    <a th:href="@{/kontakt}">Skontaktuj się z nami</a>
</main>
</body>
</html>